<div class="nav-wrapper">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <input type="checkbox" id="checkbox" />
      <nav id="main-nav" class="main-nav">
  <div class="container">
    <div class="logo-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/infinispan-logo-white.png" class="project-logo" title="Infinispan Logo"></a>
    </div>
    <label class="nav-toggle" for="checkbox">
      <i class="fa fa-bars"></i>
    </label>
    <ul id="menu" class="menu">
      <li class="dropdown">
        <span href="{{site.baseurl}}/learn/">Learn <i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/features" class="{% if page.url contains '/features/' %}active{% endif %}">Features</a></li>
          <li><a href="{{site.baseurl}}/documentation" class="{% if page.url contains '/documentation/' %}active{% endif %}">Documentation</a></li>
          <li><a href="{{site.baseurl}}/tutorials" class="{% if page.url contains '/tutorials/' %}active{% endif %}">Tutorials</a></li>
          <li><a href="{{site.baseurl}}/videos" class="{% if page.url contains '/videos/' %}active{% endif %}">Videos</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="{{site.baseurl}}/use-cases/" class="{% if page.url contains '/use-cases/' %}active{% endif %}">Use Cases <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/features" class="{% if page.url contains '/features/' %}active{% endif %}">Embedded Cache Guide</a></li>
          <li><a href="{{site.baseurl}}/documentation" class="{% if page.url contains '/documentation/' %}active{% endif %}">Client Server</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span>Community <i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/community" class="{% if page.url contains '/community/' %}active{% endif %}">Ask for Help</a></li>
          <li><a href="{{site.baseurl}}/getinvolved" class="{% if page.url contains '/getinvolved/' %}active{% endif %}">Get Involved</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/download/" class="{% if page.url contains '/download/' %}active{% endif %}">Download</a>
      </li>
    </ul>
  </div>
      </nav>
    </div>
  </div>
</div>
