<div class="component use-cases-band">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Improve Application Performance</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Achieve High Availability and Elasticity</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Replicate Data Across Data Centers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Get High Availability and Elasticity</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Back Up Across Data Centers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Get High Availability and Elasticity</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/homepage/features-graphic.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>Back Up Across Data Centers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada lobortis justo non accumsan. Quisque quis sagittis risus. Praesent convallis purus nec mi pellentesque scelerisque. Mauris mollis augue id malesuada interdum. Integer pulvinar lobortis nulla, iaculis sodales enim pharetra nec. Fusce quis tempor nibh, pulvinar aliquet lacus. Nam pellentesque fermentum aliquet. Integer in ante nunc. Fusce enim turpis, tristique id scelerisque et, aliquam non nibh.</p>
          <a href="LINK_NEEDED" class="button-cta secondary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
